# Spark DataFrame Basics

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('people.json')

In [4]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [6]:
df.columns

['age', 'name']

In [8]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [9]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [12]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [13]:
final_struc = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json', schema=final_struc)

In [15]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
df['age']

Column<b'age'>

In [18]:
type(df['age'])

pyspark.sql.column.Column

In [19]:
df.select('age')

DataFrame[age: int]

In [20]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [21]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [22]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
df.withColumn('new age',df['age']) # Immutabe, not really change the existing dataFrame

DataFrame[age: int, name: string, new age: int]

In [24]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumnRenamed('age', 'new_age')

DataFrame[new_age: int, name: string]

In [28]:
df.createOrReplaceTempView('people')

In [29]:
results = spark.sql("SELECT * FROM people")

In [30]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [35]:
print(type(new_results))
new_results.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+